# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
env/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/

# C# / .NET
bin/
obj/
*.user
*.suo

# macOS
.DS_Store

# Editors / IDEs
.vscode/
.idea/
*.swp
